<head>
	<link rel="stylesheet" href="css/styles.css">
	
	<title>My Page</title>
</head>
<body>
	<div align=center>
		<h1>Site is under construction</h1>
		<h3>Coming soon...</h3>
		<h6>probably...</h6>
	</div>
</body>
